<% provide(:title, 'Users') %>
<% if User.all.empty? %>
<header>
  <h2>No Users (<%= pluralize(User.count, "users") %>)</h2>
</header>
<% else %>
  <header>
    <h2>List of users (<%= pluralize(User.count, "users") %>):</h2>
  </header>
  <ul class="list">
  <% User.all.each do |u| %>
    <li>
      <%= link_to u.username, u %>
    </li>
  <% end %>
  </ul>
<% end %>
<%= link_to "Create a new user", signup_path, :class => "btn btn-green" %>