<% provide(:title, 'Sign up!') %>
<header class="page-header">
  <h2>Sign Up!</h2>
  <%= link_to "Back to all users", users_path, class: "btn btn-success" %>
</header>
<%= form_for @user, :action => "create", :method => :post do |f| %>
  <%= render 'user_form', f:f %>
   <%= f.submit "Create new account", class: "btn btn-success" %>
<% end %>