<% content_for :title, "Referees" %>
<% if @referees.empty? %>
    <header class="page-header">
      <h2>No Referees</h2>
    </header>
<% else %>
  <header class="page-header">
    <h2>List of referees (<%= pluralize(@referees.count, "referee") %>):</h2>
  </header>
  <ul class="list-group">
  <% @referees.each do |r| %>
    <li class="list-group-item">
      <%= link_to r.name, r %>
      <% if (logged_in? && current_user.admin?) %> |
      <%= link_to "delete", r, class: "text-danger", method: :delete, data: { confirm: "Are you sure you want to delete #{u.name}?", disable_with: 'Deleting...' }%>
     <% end %>
    </li>
  <% end %>
  </ul>
<% end %>