<% content_for :title, "Create new referee" %>
<header class="page-header">
  <h2><%=h yield(:title)%></h2>
</header>
<%= form_for @referee, :action => "create", :method => :post do |f| %>
   <%= render 'referee_form', f:f %>
   <%= f.submit "Create Referee", class: "btn btn-success" %>
<% end %>