* {
	margin: 0;
	padding: 0;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}

@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #D7D5D5;
	font-family: 'Open Sans', sans-serif;
	min-height: 100%;
	width: 100%;
	margin: auto;
	padding-bottom: 25px;
	font-size: 14px;
}

/*clearfix*/
body > header:after, section ul li:after {
	content: "";
	display: table;
	clear: both;
}

a {
	color: inherit;
	text-decoration: none;
}

.pull-left {
	float: left;
	margin-right: 40px;
	margin-bottom: 40px;
}

.pull-right {
	float: right;
	margin-left: 40px;
	margin-bottom: 40px;
}

/*page header*/
body > header {
	width: 60%;
	padding: 10px 20%;
	height: 45px;
	background-color: #333333;
	font-family: 'FranchiseRegular';
	border-bottom: 4px solid #D01D1A;
	margin-bottom: 40px;
	position: relative;
}
	body > header h1 {
		color: #FFDF00;
		font-weight: normal;
		font-size: 50px;
		line-height: 45px;
	}
	body > header .info {
		color: white;
		font-family: 'Open Sans', sans-serif;
		line-height: 45px;
	}
		body > header .info a {
			color: #FFDF00;
			text-decoration: none;
		}

table {
	width: 100%;
}
	table thead {
		font-size: 130%;
		color: #D01D1A;
		text-transform: uppercase;
	}
	table tr {
		width: 100%;
		border-collapse: collapse;
		background: #C8C6C6;
	}
		table tr:nth-child(2n) {
			background: #9E9D9D;
		}
		table td {
			padding: 10px;
		}
	section table ul li {
		margin-bottom: 20px;
		margin-left: 0;
	}
		section table ul li:last-child {
			margin-bottom: 0;
		}

form {
	width: 100%;
}
	form input, form select, form textarea {
		width: 100%;
		padding: 8px;
		display: block;
		margin-bottom: 20px;
    background: #bbb;
    border: none;
    color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	}
		form input[type="radio"], form input[type="checkbox"] {
			display: inline-block;
			width: auto;
		}
	form label {
		cursor: pointer;
	}
	form button, form input[type="submit"] {
		background: #19CF50;
		color: white;
		border: none;
		cursor: pointer;
		width: auto;
		height: 40px;
		margin: auto;
		-webkit-border-radius: 6px;
		border-radius: 6px;
	}

.btn {
  	background: #ccc;
		color: white;
		border: none;
		cursor: pointer;
		width: auto;
		height: 40px;
    line-height: 40px;
		margin: auto;
		-webkit-border-radius: 6px;
		border-radius: 6px;
    text-decoration: none;
    padding: 0 10px;
    display: inline-block;
}
  .btn.btn-green {
    background: #19CF50;
  }
  .btn.btn-red {
    background: #D01D1A;
  }

iframe {
	position: relative;
	top: 7px;
	border: none;
}

section {
	width: 60%;
	padding: 0 20%;
	margin-bottom: 25px;
}
	section a {
		text-decoration: underline;
	}
	section header {
    padding: 4px 0;
		border-bottom: 1px solid #D01D1A;
		margin-bottom: 20px;
    position: relative;
	}
	   section header h2 {
	       font-size: 32px;
	       font-family: 'FranchiseRegular';
	       font-weight: normal;
	   } 
      section header .btn {
        position: absolute;
        top: 2px;
        right: 0;
      }
	section p {
		margin: 15px 0;
	}
	section img {
		box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
		max-width: 100%;
	}
	/*Actual list items*/
	section ul li {
		clear: both;
		margin-bottom: 40px;
		margin-left: 20px;
		list-style: none;
	}
    section ul.errors li {
      color: #D01D1A;
    }  
  section ul.list {
    margin-bottom: 20px;
  }
	section ul.list li {
		margin-left: 40px;
		list-style: none;
		margin-bottom: 10px;
		list-style: disc;
	}

/*Slight responsive fixes*/
@media screen and (max-width: 1060px) {
	body > header, section {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}
}
@media screen and (max-width: 710px) {
	body > header {
		height: auto;
	}
	.pull-left, .pull-right {
		float: none;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 10px;
	}
}